.perfil img {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  margin: 0 auto;
  /* margin-top: 40px; */
  display: block;
}

.perfil {
  padding: 70px;
  background-color: #000;
}

.texto2 {
  font-size: 20px;
  color: #ffffff;
  text-align: left;
  margin: 0 auto;
  width: 45%;
}

.texto3 {
  text-align: center;
  width: 70%;
  padding-bottom: 20px;
  color: #fff;
  font-size: 30px;
  border-bottom: 0.5px solid #fff;
  margin: 10px auto 40px;
}

.texto {
  position: relative;
  text-align: center;
}

.texto a {
  text-decoration: none;
  font-size: 20px;
  display: block;
  margin: 0 auto;
  max-width: 20%;
  background-color: #ffa500;
  border: 1px solid #ffa500;
  color: white;
  margin-top: 50px;
}

@media (max-width: 1600px) {
  .descargar {
    margin-top: 20px;
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  .descargar {
    margin-top: 20px;
    margin-bottom: 0px;
  }
}

@media (max-width: 767px) {
  .parrafo {
    margin-top: 5px;
  }
  .descargar {
    margin-top: 20px;
    margin-bottom: 0px;
  }
}

@media (max-width: 575px) {
  .texto2 {
    width: 95%;
  }
  .texto a{
    max-width: 90%;
  }
}


