.formulario {
  padding: 70px;
  margin-top: 10px;
  margin-bottom: 60px;
}

.formulario1 h2 {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.formulario p {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

form {
  margin-top: 60px;
  display: block;
  max-width: 30%;
  margin: 0 auto;
  background: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
}

.form-group {
  margin-bottom: 1rem;
  width: 80%;
  margin: 0 auto;
  display: block;
  color: white;
}

.btn {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

label{
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 5px;
}