.scroll-to-top {
  opacity: 1;
  position: relative;
}

.scroll-to-top-absolute {
  position: fixed;
  left: 90%;
  top: 60%;
}

.scroll-fa {
  width:  90px;
  background-color: #212f3d;
  color: white;
  cursor: pointer;
  padding: 12px;
  border-radius: 55%;
}

@media screen and (max-width:500px) {
    .scroll-fa{
     width: 40px;
    }
}