.titulo1 {
  color: white;
  background: black;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 20px;
  width: 100%;
  bottom: 0;
}

.titulo1 p {
  margin-left: 20px;
}

.redes-footer {
  align-items: center;
  justify-content: center;
  display: flex;
}

.redes-footer a {
  margin: 10px;
}

.redes-footer i {
  color: white;
  font-size: 35px;
}

.icon-redes-footer {
  padding: 18px;
}
