.container-experience {
  padding: 50px;
  background-color: #00C9C8;
}

.container-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-title h2 {
  margin-bottom: 40px;
}

.paragraph-company {
  margin-top: 5px;
  padding: 10px;
}
